grpcio
grpcio-tools
numpy==1.26.4
Pillow
pyinstaller
opencv-python

transformers
manga-ocr

# comic-text-detector requirements
torchvision
tqdm
torchsummary
wandb
#trdg
pyclipper
shapely